* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.fundo {
    width: 100%;
    min-height: 100vh;
    background-color: blueviolet;
}

.header {
    width: 100%;
    height: 100px;
    background-color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #22200b;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: green;
    color: white;
    width: 300px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: wheat;
}

.card iframe {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card p {
    margin-top: 10px;
    font-size: 14px;
}